// ========================
// ANSWER LIST
// ========================
// @note: goes here
// ========================
.AnswerList {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// ========================
// ELEMENTS
// ========================
.AnswerList-item {
  margin-bottom: 12px;
}
// .AnswerList-anotherPart {}

// ========================
// MODIFIERS
// ========================
// .AnswerList--modifier {}

// ========================
// UI STATES
// ========================
// .AnswerList.is-active {}
