html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 900px;
}

.swiper-slide {
  text-align: center;
}

.text-red {
  color: red;
}

.text-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.margin-bottom {
  margin-bottom: 0.1em;
}

.container {
  padding: 0.5em;
}

.movie-thumb {
  margin-right: 10px;
}

.current-movie {
  box-shadow: 0 0 0 1px rgb(87, 61, 92);
}