// ============
// $PRINT
// ============
// Print styles are conditionally added if you need them,
// head over to `settings.scss` to turn this feature on.

@mixin print-styles {

  // === Hide print-only elements
  .u-print { display: none !important; }

  @media print {
    // === Show and hide print-only or screen-only elements
    %u-print-hidden { display: none !important; }
    .u-print-hidden { @extend %u-print-hidden !optional; }

    %u-print { display: block !important; }
    .u-print { @extend %u-print !optional; }

    // === force a page break before an element
    .u-print-breakBefore { page-break-before: always; }

    // ============
    // H5BP print styles -inlined to avoid required HTTP connection:
    // Source: https://www.phpied.com/delay-loading-your-print-css/
    // Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
    // ============

    html {
      @include font(12px);
    }

    body {
      -webkit-print-color-adjust: exact; // enable background printing in Chrome
    }

    .Container {
      max-width: none !important;
    }

    *,
    *::before,
    *::after {
      background: transparent !important;
      color: #000 !important; /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    // === show the urls of links
    a[href]::after {
      content: " (" attr(href) ")";
    }

    pre {
      white-space: pre-wrap !important;
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    // === Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables
    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    @page {
      margin: 0.5cm;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }

    // === SVGs and Icons
    svg path {
      fill: $black !important;
    }
  }
}

// === Conditionally include print styles
@if $print-styles == true {
  @include print-styles();
}
